<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>
    <a href="version">Version</a><br><br>
    <form name='formulario' method="POST" action="/version/buscar">
      Nombre del modulo <input type="text" name="nombremodulo">
      <br><input type="submit" value="Buscar">
    </form>
  </body>
</html>
